.pasvisible {
display: none;
margin:0;
}
.ephemere {
float: right ;
font-size: 0.6em;
height:70%;
line-height:70%;
color: teal;
margin-top: 1.5em;
}
.captcha-container {
    padding: 0em 0em 0em 0em;
    text-align: center;
}

.captcha-container > div {
    padding: 0;
    text-align: center;
}
.lienCaptcha {
    margin-top: 12px;
}
.centrerResponsiveElement{
        margin:0 auto;
}

input.oubliSaisie {
    border-bottom: 1px solid #f22;
}

