@charset "utf-8";
#row570 {background-image:url(//31415096.s21i.faiusr.com/2/ABUIABACGAAg_fL1pgYoyJdAMIAPOLwF.jpg);background-color:#fff;background-repeat:no-repeat;background-position:bottom center;}
#row570 {padding-top:0.0vw;}
#row570 {padding-right:10.416666666666668%;}
#row570 {padding-bottom:0.0vw;}
#row570 {padding-left:10.416666666666668%;}
#row570 {margin-top:0.0vw;}
#row570 {margin-right:0.0%;}
#row570 {margin-bottom:0.0vw;}
#row570 {margin-left:0.0%;}
#row570>.jz_web_row__content>.jz_web_col0{padding:0;}
#row570>.jz_web_row__content>.jz_web_col0{margin-top:4.166666666666666vw;}
#row570>.jz_web_row__content>.jz_web_col0{margin-right:0.0%;}
#row570>.jz_web_row__content>.jz_web_col0{margin-bottom:4.166666666666666vw;}
#row570>.jz_web_row__content>.jz_web_col0{margin-left:0.0%;}
#row570>.jz_web_row__content>.jz_web_col1{padding:0;}
#row570>.jz_web_row__content>.jz_web_col1{margin-top:4.166666666666666vw;}
#row570>.jz_web_row__content>.jz_web_col1{margin-right:0.0%;}
#row570>.jz_web_row__content>.jz_web_col1{margin-bottom:4.166666666666666vw;}
#row570>.jz_web_row__content>.jz_web_col1{margin-left:0.0%;}
@media screen and (max-width: 768px){
#row570 {background-image:url(//31415096.s21i.faiusr.com/2/ABUIABACGAAg_fL1pgYoyJdAMIAPOLwF.jpg);background-color:#fff;background-repeat:no-repeat;background-position:bottom center;}
#row570 {padding-top:0.0vw;}
#row570 {padding-right:0.0%;}
#row570 {padding-bottom:0.0vw;}
#row570 {padding-left:0.0%;}
#row570 {margin-top:0.0vw;}
#row570 {margin-right:0.0%;}
#row570 {margin-bottom:0.0vw;}
#row570 {margin-left:0.0%;}
#row570>.jz_web_row__content>.jz_web_col0{margin:0;}
#row570>.jz_web_row__content>.jz_web_col1{margin:0;}
}
#row557 {background-image:none;background-color:rgba(242, 242, 242, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row557 {padding-top:0.0vw;}
#row557 {padding-right:10.416666666666668%;}
#row557 {padding-bottom:0.0vw;}
#row557 {padding-left:10.416666666666668%;}
#row557 {margin-top:0.0vw;}
#row557 {margin-right:0.0%;}
#row557 {margin-bottom:0.0vw;}
#row557 {margin-left:0.0%;}
#row557>.jz_web_row__content>.jz_web_col0{padding:0;}
#row557>.jz_web_row__content>.jz_web_col0{margin-top:1.5625vw;}
#row557>.jz_web_row__content>.jz_web_col0{margin-right:0.0%;}
#row557>.jz_web_row__content>.jz_web_col0{margin-bottom:0.0vw;}
#row557>.jz_web_row__content>.jz_web_col0{margin-left:0.0%;}
@media screen and (max-width: 768px){
#row557 {background-image:none;background-color:rgba(242, 242, 242, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row557 {padding-top:0.0vw;}
#row557 {padding-right:0.0%;}
#row557 {padding-bottom:0.0vw;}
#row557 {padding-left:0.0%;}
#row557 {margin-top:0.0vw;}
#row557 {margin-right:0.0%;}
#row557 {margin-bottom:0.0vw;}
#row557 {margin-left:0.0%;}
#row557>.jz_web_row__content>.jz_web_col0{padding-top:0.0vw;}
#row557>.jz_web_row__content>.jz_web_col0{padding-right:0.0%;}
#row557>.jz_web_row__content>.jz_web_col0{padding-bottom:0.0vw;}
#row557>.jz_web_row__content>.jz_web_col0{padding-left:0.0%;}
#row557>.jz_web_row__content>.jz_web_col0{margin-top:0.0vw;}
#row557>.jz_web_row__content>.jz_web_col0{margin-right:0}
#row557>.jz_web_row__content>.jz_web_col0{margin-bottom:0.0vw;}
#row557>.jz_web_row__content>.jz_web_col0{margin-left:0}
}
#row555 {background-image:url(//31415096.s21i.faiusr.com/2/ABUIABACGAAg57HypgYo1ufyqAcwgA84uAg.jpg);background-color:#fff;background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row555 {padding-top:0.0vw;}
#row555 {padding-right:10.416666666666668%;}
#row555 {padding-bottom:0.0vw;}
#row555 {padding-left:10.416666666666668%;}
#row555 {margin-top:0.0vw;}
#row555 {margin-right:0.0%;}
#row555 {margin-bottom:0.0vw;}
#row555 {margin-left:0.0%;}
#row555>.jz_web_row__content>.jz_web_col0{padding:0;}
#row555>.jz_web_row__content>.jz_web_col0{margin-top:0.0vw;}
#row555>.jz_web_row__content>.jz_web_col0{margin-right:0.0%;}
#row555>.jz_web_row__content>.jz_web_col0{margin-bottom:2.083333333333333vw;}
#row555>.jz_web_row__content>.jz_web_col0{margin-left:0.0%;}
@media screen and (max-width: 768px){
#row555 {background-image:url(//31415096.s21i.faiusr.com/2/ABUIABACGAAg57HypgYo1ufyqAcwgA84uAg.jpg);background-color:#fff;background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row555 {padding-top:0.26666666666666666vw;}
#row555 {padding-right:0.0%;}
#row555 {padding-bottom:0.26666666666666666vw;}
#row555 {padding-left:0.0%;}
#row555 {margin-top:0.0vw;}
#row555 {margin-right:0.0%;}
#row555 {margin-bottom:0.0vw;}
#row555 {margin-left:0.0%;}
#row555>.jz_web_row__content>.jz_web_col0{padding-top:0.0vw;}
#row555>.jz_web_row__content>.jz_web_col0{padding-right:0.0%;}
#row555>.jz_web_row__content>.jz_web_col0{padding-bottom:0.0vw;}
#row555>.jz_web_row__content>.jz_web_col0{padding-left:0.0%;}
#row555>.jz_web_row__content>.jz_web_col0{margin-top:0.0vw;}
#row555>.jz_web_row__content>.jz_web_col0{margin-right:0}
#row555>.jz_web_row__content>.jz_web_col0{margin-bottom:0.0vw;}
#row555>.jz_web_row__content>.jz_web_col0{margin-left:0}
}
#row567 {padding-top:0.0vw;}
#row567 {padding-right:0.0%;}
#row567 {padding-bottom:0.0vw;}
#row567 {padding-left:0.0%;}
#row567 {margin-top:0.0vw;}
#row567 {margin-right:0.0%;}
#row567 {margin-bottom:0.0vw;}
#row567 {margin-left:0.0%;}
#row567>.jz_web_row__content>.jz_web_col0{padding:0;}
#row567>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row567 {padding-top:0.0vw;}
#row567 {padding-right:0.0%;}
#row567 {padding-bottom:0.0vw;}
#row567 {padding-left:0.0%;}
#row567 {margin-top:0.0vw;}
#row567 {margin-right:0.0%;}
#row567 {margin-bottom:0.0vw;}
#row567 {margin-left:0.0%;}
#row567>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row566 {padding-top:0.0vw;}
#row566 {padding-right:0.0%;}
#row566 {padding-bottom:0.15625vw;}
#row566 {padding-left:0.0%;}
#row566 {margin-top:0.0vw;}
#row566 {margin-right:0.0%;}
#row566 {margin-bottom:0.0vw;}
#row566 {margin-left:0.0%;}
#row566>.jz_web_row__content>.jz_web_col0{padding:0;}
#row566>.jz_web_row__content>.jz_web_col0{margin:0;}
#row566>.jz_web_row__content>.jz_web_col1{padding:0;}
#row566>.jz_web_row__content>.jz_web_col1{margin:0;}
#row566>.jz_web_row__content>.jz_web_col2{padding:0;}
#row566>.jz_web_row__content>.jz_web_col2{margin:0;}
#row566>.jz_web_row__content>.jz_web_col3{padding:0;}
#row566>.jz_web_row__content>.jz_web_col3{margin:0;}
@media screen and (max-width: 768px){
#row566 {padding-top:0.0vw;}
#row566 {padding-right:0.0%;}
#row566 {padding-bottom:0.0vw;}
#row566 {padding-left:0.0%;}
#row566 {margin-top:0.0vw;}
#row566 {margin-right:0.0%;}
#row566 {margin-bottom:0.0vw;}
#row566 {margin-left:0.0%;}
#row566>.jz_web_row__content>.jz_web_col0{margin:0;}
#row566>.jz_web_row__content>.jz_web_col1{margin:0;}
#row566>.jz_web_row__content>.jz_web_col2{margin:0;}
#row566>.jz_web_row__content>.jz_web_col3{margin:0;}
}
#row573 {background-image:url(//31415096.s21i.faiusr.com/4/ABUIABAEGAAgw6TSpgYo9tayugcwgA84_wQ.png);background-color:rgba(254, 254, 254, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row573 {padding-top:0.0vw;}
#row573 {padding-right:10.416666666666668%;}
#row573 {padding-bottom:0.0vw;}
#row573 {padding-left:10.416666666666668%;}
#row573 {margin-top:0.0vw;}
#row573 {margin-right:0.0%;}
#row573 {margin-bottom:0.0vw;}
#row573 {margin-left:0.0%;}
#row573>.jz_web_row__content>.jz_web_col0{padding:0;}
#row573>.jz_web_row__content>.jz_web_col0{margin-top:1.5625vw;}
#row573>.jz_web_row__content>.jz_web_col0{margin-right:0.0%;}
#row573>.jz_web_row__content>.jz_web_col0{margin-bottom:0.0vw;}
#row573>.jz_web_row__content>.jz_web_col0{margin-left:0.0%;}
@media screen and (max-width: 768px){
#row573 {background-image:url(//31415096.s21i.faiusr.com/4/ABUIABAEGAAgw6TSpgYo9tayugcwgA84_wQ.png);background-color:rgba(254, 254, 254, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row573 {padding-top:0.0vw;}
#row573 {padding-right:0.0%;}
#row573 {padding-bottom:0.0vw;}
#row573 {padding-left:0.0%;}
#row573 {margin-top:0.0vw;}
#row573 {margin-right:0.0%;}
#row573 {margin-bottom:0.0vw;}
#row573 {margin-left:0.0%;}
#row573>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row3  {box-shadow:0 0 12px 0 rgba(0,0,0,0.15);}
#row3  {border:none;}
#row3 {background-image:none;background-color:rgba(255, 255, 255, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row3 {padding-top:0.0vw;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0vw;}
#row3 {padding-left:0.0%;}
#row3 {margin-top:0.0vw;}
#row3 {margin-right:0.0%;}
#row3 {margin-bottom:0.0vw;}
#row3 {margin-left:0.0%;}
#row3>.jz_web_row__content>.jz_web_col0{padding:0;}
#row3>.jz_web_row__content>.jz_web_col0{margin:0;}
#row3>.jz_web_row__content>.jz_web_col0{background-image:none;background-color:rgba(255, 255, 255, 0);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row3>.jz_web_row__content>.jz_web_col1{padding:0;}
#row3>.jz_web_row__content>.jz_web_col1{margin:0;}
#row3>.jz_web_row__content>.jz_web_col1{background-image:none;background-color:rgba(255, 255, 255, 0);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row3>.jz_web_row__content>.jz_web_col2{padding:0;}
#row3>.jz_web_row__content>.jz_web_col2{margin:0;}
@media screen and (max-width: 768px){
#row3 {background-image:none;background-color:rgba(255, 255, 255, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row3 {padding-top:0.0vw;}
#row3 {padding-right:0.0%;}
#row3 {padding-bottom:0.0vw;}
#row3 {padding-left:0.0%;}
#row3 {margin-top:0.0vw;}
#row3 {margin-right:0.0%;}
#row3 {margin-bottom:0.0vw;}
#row3 {margin-left:0.0%;}
#row3>.jz_web_row__content>.jz_web_col0{margin:0;}
#row3>.jz_web_row__content>.jz_web_col1{margin:0;}
#row3>.jz_web_row__content>.jz_web_col2{margin:0;}
}
#row295 {background-image:none;background-color:rgba(52, 52, 52, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row295 {padding-top:0.0vw;}
#row295 {padding-right:10.416666666666668%;}
#row295 {padding-bottom:2.604166666666667vw;}
#row295 {padding-left:10.416666666666668%;}
#row295 {margin-top:0.0vw;}
#row295 {margin-right:0.0%;}
#row295 {margin-bottom:0.0vw;}
#row295 {margin-left:0.0%;}
#row295>.jz_web_row__content>.jz_web_col0{padding:0;}
#row295>.jz_web_row__content>.jz_web_col0{margin:0;}
#row295>.jz_web_row__content>.jz_web_col1{padding:0;}
#row295>.jz_web_row__content>.jz_web_col1{margin:0;}
#row295>.jz_web_row__content>.jz_web_col2{padding:0;}
#row295>.jz_web_row__content>.jz_web_col2{margin:0;}
#row295>.jz_web_row__content>.jz_web_col3{padding:0;}
#row295>.jz_web_row__content>.jz_web_col3{margin:0;}
#row295>.jz_web_row__content>.jz_web_col4{padding:0;}
#row295>.jz_web_row__content>.jz_web_col4{margin:0;}
@media screen and (max-width: 768px){
#row295 {background-image:none;background-color:rgba(52, 52, 52, 1);background-size:cover;background-repeat:no-repeat;background-position:center center;}
#row295 {padding-top:0.0vw;}
#row295 {padding-right:0.0%;}
#row295 {padding-bottom:0.0vw;}
#row295 {padding-left:0.0%;}
#row295 {margin-top:0.0vw;}
#row295 {margin-right:0.0%;}
#row295 {margin-bottom:0.0vw;}
#row295 {margin-left:0.0%;}
#row295>.jz_web_row__content>.jz_web_col0{margin:0;}
#row295>.jz_web_row__content>.jz_web_col1{margin:0;}
#row295>.jz_web_row__content>.jz_web_col2{margin:0;}
#row295>.jz_web_row__content>.jz_web_col3{margin:0;}
#row295>.jz_web_row__content>.jz_web_col4{margin:0;}
}
#row4 {padding-top:0.0vw;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0vw;}
#row4 {padding-left:0.0%;}
#row4 {margin-top:0.0vw;}
#row4 {margin-right:0.0%;}
#row4 {margin-bottom:0.0vw;}
#row4 {margin-left:0.0%;}
#row4>.jz_web_row__content>.jz_web_col0{padding:0;}
#row4>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row4 {padding-top:0.0vw;}
#row4 {padding-right:0.0%;}
#row4 {padding-bottom:0.0vw;}
#row4 {padding-left:0.0%;}
#row4 {margin-top:0.0vw;}
#row4 {margin-right:0.0%;}
#row4 {margin-bottom:0.0vw;}
#row4 {margin-left:0.0%;}
#row4>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row550 {padding-top:0.0vw;}
#row550 {padding-right:0.0%;}
#row550 {padding-bottom:0.0vw;}
#row550 {padding-left:0.0%;}
#row550 {margin-top:0.0vw;}
#row550 {margin-right:0.0%;}
#row550 {margin-bottom:0.0vw;}
#row550 {margin-left:0.0%;}
#row550>.jz_web_row__content>.jz_web_col0{padding:0;}
#row550>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row550 {padding-top:0.0vw;}
#row550 {padding-right:0.0%;}
#row550 {padding-bottom:0.0vw;}
#row550 {padding-left:0.0%;}
#row550 {margin-top:0.0vw;}
#row550 {margin-right:0.0%;}
#row550 {margin-bottom:0.0vw;}
#row550 {margin-left:0.0%;}
#row550>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row546 {padding-top:0.0vw;}
#row546 {padding-right:0.0%;}
#row546 {padding-bottom:0.0vw;}
#row546 {padding-left:0.0%;}
#row546 {margin-top:0.0vw;}
#row546 {margin-right:0.0%;}
#row546 {margin-bottom:0.0vw;}
#row546 {margin-left:0.0%;}
#row546>.jz_web_row__content>.jz_web_col0{padding:0;}
#row546>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row546 {padding-top:0.0vw;}
#row546 {padding-right:0.0%;}
#row546 {padding-bottom:0.0vw;}
#row546 {padding-left:0.0%;}
#row546 {margin-top:0.0vw;}
#row546 {margin-right:0.0%;}
#row546 {margin-bottom:0.0vw;}
#row546 {margin-left:0.0%;}
#row546>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row576 {padding-top:0.0vw;}
#row576 {padding-right:0.0%;}
#row576 {padding-bottom:0.0vw;}
#row576 {padding-left:0.0%;}
#row576 {margin-top:0.0vw;}
#row576 {margin-right:0.0%;}
#row576 {margin-bottom:0.0vw;}
#row576 {margin-left:0.0%;}
#row576>.jz_web_row__content>.jz_web_col0{padding:0;}
#row576>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row576 {padding-top:0.0vw;}
#row576 {padding-right:0.0%;}
#row576 {padding-bottom:0.0vw;}
#row576 {padding-left:0.0%;}
#row576 {margin-top:0.0vw;}
#row576 {margin-right:0.0%;}
#row576 {margin-bottom:0.0vw;}
#row576 {margin-left:0.0%;}
#row576>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row219 {padding-top:0.0vw;}
#row219 {padding-right:0.0%;}
#row219 {padding-bottom:0.0vw;}
#row219 {padding-left:0.0%;}
#row219 {margin-top:0.0vw;}
#row219 {margin-right:0.0%;}
#row219 {margin-bottom:0.0vw;}
#row219 {margin-left:0.0%;}
#row219>.jz_web_row__content>.jz_web_col0{padding:0;}
#row219>.jz_web_row__content>.jz_web_col0{margin:0;}
@media screen and (max-width: 768px){
#row219 {padding-top:0.0vw;}
#row219 {padding-right:0.0%;}
#row219 {padding-bottom:0.0vw;}
#row219 {padding-left:0.0%;}
#row219 {margin-top:0.0vw;}
#row219 {margin-right:0.0%;}
#row219 {margin-bottom:0.0vw;}
#row219 {margin-left:0.0%;}
#row219>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row571 {padding-top:0.0vw;}
#row571 {padding-right:0.0%;}
#row571 {padding-bottom:0.0vw;}
#row571 {padding-left:0.0%;}
#row571 {margin-top:0.0vw;}
#row571 {margin-right:0.0%;}
#row571 {margin-bottom:0.0vw;}
#row571 {margin-left:0.0%;}
#row571>.jz_web_row__content>.jz_web_col0{padding:0;}
#row571>.jz_web_row__content>.jz_web_col0{margin:0;}
#row571>.jz_web_row__content>.jz_web_col0{background:none;}
@media screen and (max-width: 768px){
#row571 {padding-top:0.0vw;}
#row571 {padding-right:0.0%;}
#row571 {padding-bottom:0.0vw;}
#row571 {padding-left:0.0%;}
#row571 {margin-top:0.0vw;}
#row571 {margin-right:0.0%;}
#row571 {margin-bottom:0.0vw;}
#row571 {margin-left:0.0%;}
#row571>.jz_web_row__content>.jz_web_col0{margin:0;}
}
#row572 {padding-top:0.0vw;}
#row572 {padding-right:0.0%;}
#row572 {padding-bottom:0.0vw;}
#row572 {padding-left:0.0%;}
#row572 {margin-top:0.0vw;}
#row572 {margin-right:0.0%;}
#row572 {margin-bottom:0.0vw;}
#row572 {margin-left:0.0%;}
#row572>.jz_web_row__content>.jz_web_col0{padding:0;}
#row572>.jz_web_row__content>.jz_web_col0{margin-top:0.0vw;}
#row572>.jz_web_row__content>.jz_web_col0{margin-right:0.0%;}
#row572>.jz_web_row__content>.jz_web_col0{margin-bottom:2.083333333333333vw;}
#row572>.jz_web_row__content>.jz_web_col0{margin-left:0.0%;}
#row572>.jz_web_row__content>.jz_web_col0{background:none;}
#row572>.jz_web_row__content>.jz_web_col1{padding-top:0.0vw;}
#row572>.jz_web_row__content>.jz_web_col1{padding-right:0.0%;}
#row572>.jz_web_row__content>.jz_web_col1{padding-bottom:1.0416666666666665vw;}
#row572>.jz_web_row__content>.jz_web_col1{padding-left:0.0%;}
#row572>.jz_web_row__content>.jz_web_col1{margin-top:0.0vw;}
#row572>.jz_web_row__content>.jz_web_col1{margin-right:0.0%;}
#row572>.jz_web_row__content>.jz_web_col1{margin-bottom:2.083333333333333vw;}
#row572>.jz_web_row__content>.jz_web_col1{margin-left:0.0%;}
#row572>.jz_web_row__content>.jz_web_col1{background:none;}
@media screen and (max-width: 768px){
#row572 {padding-top:0.0vw;}
#row572 {padding-right:0.0%;}
#row572 {padding-bottom:0.0vw;}
#row572 {padding-left:0.0%;}
#row572 {margin-top:0.0vw;}
#row572 {margin-right:0.0%;}
#row572 {margin-bottom:0.0vw;}
#row572 {margin-left:0.0%;}
#row572>.jz_web_row__content>.jz_web_col0{margin:0;}
#row572>.jz_web_row__content>.jz_web_col1{margin-top:0.0vw;}
#row572>.jz_web_row__content>.jz_web_col1{margin-right:0}
#row572>.jz_web_row__content>.jz_web_col1{margin-bottom:8.0vw;}
#row572>.jz_web_row__content>.jz_web_col1{margin-left:0}
}
#module1238   >.module_wrap > .module_banner {display:none;}
#module1238 {margin-top:6.197916666666667vw;}
#module1238 {margin-right:6.973684210526315%;}
#module1238 {margin-bottom:0.0vw;}
#module1238 {margin-left:3.1578947368421053%;}
#module1238  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1238  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1238   >.module_wrap > .module_banner {display:none;}
#module1238 {margin-top:7.466666666666668vw;}
#module1238 {margin-right:0.0%;}
#module1238 {margin-bottom:0.0vw;}
#module1238 {margin-left:0.0%;}
#module1238  .rich_img_wrap{width:50%;}
}
#module1239   >.module_wrap > .module_banner {display:none;}
#module1239 {margin-top:0.6770833333333334vw;}
#module1239 {margin-right:74.20128218303013%;}
#module1239 {margin-bottom:0.0vw;}
#module1239 {margin-left:5.350169004304956%;}
#module1239  .module_button_content{border-radius:0px;}
#module1239  .module_button_content:hover{}
#module1239  .module_button_content .after{}
#module1239  .module_content{height:40px;}
#module1239  .module_button_content .module_button_text {max-width: calc(100% - 18px);}
#module1239  .module_button_content .module_button_icon { font-size:12px;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module1239   >.module_wrap > .module_banner {display:none;}
#module1239 {margin-top:2.666666666666667vw;}
#module1239 {margin-right:63.33333333333333%;}
#module1239 {margin-bottom:1.3333333333333335vw;}
#module1239 {margin-left:4.666666666666663%;}
#module1239  .module_content{height:32px;}
#module1239 .module_button_content .module_button_text { font-family:微软雅黑;font-size:12px;color:rgb(255, 255, 255);}
#module1239  .module_button_content:hover .module_button_text{ color:;}
}
#module1237   >.module_wrap > .module_banner {display:none;}
#module1237 {margin-top:0.0vw;}
#module1237 {margin-right:0.0%;}
#module1237 {margin-bottom:0.0vw;}
#module1237 {margin-left:0.0%;}
#module1237  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1237  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1237   >.module_wrap > .module_banner {display:none;}
#module1237 {margin-top:0.0vw;}
#module1237 {margin-right:0.0%;}
#module1237 {margin-bottom:0.0vw;}
#module1237 {margin-left:0.0%;}
#module1237  .rich_img_wrap{width:50%;}
}
#module1278   >.module_wrap > .module_banner {display:none;}
#module1278 {margin-top:0.0vw;}
#module1278 {margin-right:0.0%;}
#module1278 {margin-bottom:0.0vw;}
#module1278 {margin-left:0.0%;}
#module1278  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1278  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1278   >.module_wrap > .module_banner {display:none;}
#module1278 {margin-top:7.199999999999999vw;}
#module1278 {margin-right:0.0%;}
#module1278 {margin-bottom:0.0vw;}
#module1278 {margin-left:0.0%;}
#module1278  .rich_img_wrap{width:50%;}
}
#module1279   >.module_wrap > .module_banner {display:none;}
#module1279 {margin-top:0.052083333333333495vw;}
#module1279 {margin-right:0.0%;}
#module1279 {margin-bottom:0.0vw;}
#module1279 {margin-left:0.0%;}
@media screen and (min-width: 769px){
#module1279  .news_list_item_line{width:calc(100% / 3 - 20px - 0.02px);}
#module1279  .news_list_item_line{margin: 20px 10px 0px 10px;}
#module1279  .news_list_img_box{width:1,   0%;}
#module1279  .news_list_item_line:hover{background-image:none;background-color:#fff;background-repeat:repeat;background-position:top left;}
}
@media screen and (max-width: 768px){
#module1279   >.module_wrap > .module_banner {display:none;}
#module1279 {margin-top:0.0vw;}
#module1279 {margin-right:0.0%;}
#module1279 {margin-bottom:0.0vw;}
#module1279 {margin-left:0.0%;}
}
#module1313   >.module_wrap > .module_banner {display:none;}
#module1313 {margin-top:1.40625vw;}
#module1313 {margin-right:0.0%;}
#module1313 {margin-bottom:0.0vw;}
#module1313 {margin-left:0.0%;}
#module1313  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1313  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1313   >.module_wrap > .module_banner {display:none;}
#module1313 {margin-top:1.0666666666666667vw;}
#module1313 {margin-right:0.0%;}
#module1313 {margin-bottom:0.0vw;}
#module1313 {margin-left:0.0%;}
#module1313  .rich_img_wrap{width:50%;}
}
#module1309   >.module_wrap > .module_banner {display:none;}
#module1309 {margin-top:0.0vw;}
#module1309 {margin-right:0.0%;}
#module1309 {margin-bottom:0.0vw;}
#module1309 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module1309   >.module_wrap > .module_banner {display:none;}
#module1309 {margin-top:2.666vw;}
#module1309 {margin-right:3.733%;}
#module1309 {margin-bottom:0.0vw;}
#module1309 {margin-left:3.733%;}
}
#module1310   >.module_wrap > .module_banner {display:none;}
#module1310 {margin-top:0.0vw;}
#module1310 {margin-right:0.0%;}
#module1310 {margin-bottom:0.0vw;}
#module1310 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module1310   >.module_wrap > .module_banner {display:none;}
#module1310 {margin-top:2.666vw;}
#module1310 {margin-right:3.733%;}
#module1310 {margin-bottom:0.0vw;}
#module1310 {margin-left:3.733%;}
}
#module1311   >.module_wrap > .module_banner {display:none;}
#module1311 {margin-top:0.0vw;}
#module1311 {margin-right:0.0%;}
#module1311 {margin-bottom:0.0vw;}
#module1311 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module1311   >.module_wrap > .module_banner {display:none;}
#module1311 {margin-top:2.666vw;}
#module1311 {margin-right:3.733%;}
#module1311 {margin-bottom:0.0vw;}
#module1311 {margin-left:3.733%;}
}
#module1312   >.module_wrap > .module_banner {display:none;}
#module1312 {margin-top:0.0vw;}
#module1312 {margin-right:0.0%;}
#module1312 {margin-bottom:0.0vw;}
#module1312 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module1312   >.module_wrap > .module_banner {display:none;}
#module1312 {margin-top:2.666vw;}
#module1312 {margin-right:3.733%;}
#module1312 {margin-bottom:0.0vw;}
#module1312 {margin-left:3.733%;}
}
#module560   >.module_wrap > .module_banner {display:none;}
#module560 {margin-top:2.9214706010074685vw;}
#module560 {margin-right:0.0%;}
#module560 {margin-bottom:0.0vw;}
#module560 {margin-left:0.0%;}
#module560  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module560  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module560   >.module_wrap > .module_banner {display:none;}
#module560 {margin-top:0.0vw;}
#module560 {margin-right:0.0%;}
#module560 {margin-bottom:0.0vw;}
#module560 {margin-left:0.0%;}
#module560  .rich_img_wrap{width:50%;}
}
#module554   >.module_wrap > .module_banner {display:none;}
#module554 {margin-top:2.9214706010074685vw;}
#module554 {margin-right:0.0%;}
#module554 {margin-bottom:0.0vw;}
#module554 {margin-left:0.0%;}
#module554  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module554  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module554   >.module_wrap > .module_banner {display:none;}
#module554 {margin-top:0.0vw;}
#module554 {margin-right:0.0%;}
#module554 {margin-bottom:0.0vw;}
#module554 {margin-left:0.0%;}
#module554  .rich_img_wrap{width:50%;}
}
#module552   >.module_wrap > .module_banner {display:none;}
#module552 {margin-top:2.9214706010074685vw;}
#module552 {margin-right:0.0%;}
#module552 {margin-bottom:0.0vw;}
#module552 {margin-left:0.0%;}
#module552  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module552  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module552   >.module_wrap > .module_banner {display:none;}
#module552 {margin-top:0.0vw;}
#module552 {margin-right:0.0%;}
#module552 {margin-bottom:0.0vw;}
#module552 {margin-left:0.0%;}
#module552  .rich_img_wrap{width:50%;}
}
#module555   >.module_wrap > .module_banner {display:none;}
#module555 {margin-top:4.119712958137918vw;}
#module555 {margin-right:3.1620553359683794%;}
#module555 {margin-bottom:0.0vw;}
#module555 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module555   >.module_wrap > .module_banner {display:none;}
#module555 {margin-top:2.666vw;}
#module555 {margin-right:0.0%;}
#module555 {margin-bottom:1.333vw;}
#module555 {margin-left:7.446808510638298%;}
.jz_screen_mobi #module555 .module_text_content * { font-size:12px !important; }.jz_screen_mobi #module555 .module_text_content * { line-height:24px !important; }.jz_screen_mobi #module555 .module_text_content .fk-editor { line-height: normal !important; }}
#module639   >.module_wrap > .module_banner {display:none;}
#module639 {margin-top:1.0416666666666665vw;}
#module639 {margin-right:26.842105263157894%;}
#module639 {margin-bottom:0.0vw;}
#module639 {margin-left:0.0%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module639   >.module_wrap > .module_banner {display:none;}
#module639 {margin-top:0.0vw;}
#module639 {margin-right:1.5957446808510634%;}
#module639 {margin-bottom:0.0vw;}
#module639 {margin-left:8.253234042553192%;}
}
#module556   >.module_wrap > .module_banner {display:none;}
#module556 {margin-top:4.0082941483803545vw;}
#module556 {margin-right:24.766900689610072%;}
#module556 {margin-bottom:0.0vw;}
#module556 {margin-left:32.35645800206846%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module556   >.module_wrap > .module_banner {display:none;}
#module556 {margin-top:4.532666666666667vw;}
#module556 {margin-right:14.533000000000001%;}
#module556 {margin-bottom:0.0vw;}
#module556 {margin-left:14.533000000000001%;}
}
#module557   >.module_wrap > .module_banner {display:none;}
#module557 {margin-top:0.46875000000000006vw;}
#module557 {margin-right:5.511811023622047%;}
#module557 {margin-bottom:0.0vw;}
#module557 {margin-left:14.786343406678911%;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module557   >.module_wrap > .module_banner {display:none;}
#module557 {margin-top:2.666vw;}
#module557 {margin-right:3.733%;}
#module557 {margin-bottom:1.333vw;}
#module557 {margin-left:3.733%;}
}
#module1261   >.module_wrap > .module_banner {display:none;}
#module1261 {margin-top:9.87460815047022vw;}
#module1261 {margin-right:7.931114248566211%;}
#module1261 {margin-bottom:0.0vw;}
#module1261 {margin-left:15.360501567398119%;}
#module1261  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1261  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1261   >.module_wrap > .module_banner {display:none;}
#module1261 {margin-top:6.933333333333333vw;}
#module1261 {margin-right:0.0%;}
#module1261 {margin-bottom:0.0vw;}
#module1261 {margin-left:0.0%;}
#module1261  .rich_img_wrap{width:50%;}
}
#module1257   >.module_wrap > .module_banner {display:none;}
#module1257 {margin-top:9.926854754440962vw;}
#module1257 {margin-right:10.022573723547662%;}
#module1257 {margin-bottom:0.0vw;}
#module1257 {margin-left:15.256008359456635%;}
#module1257  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1257  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1257   >.module_wrap > .module_banner {display:none;}
#module1257 {margin-top:6.933333333333333vw;}
#module1257 {margin-right:0.0%;}
#module1257 {margin-bottom:0.0vw;}
#module1257 {margin-left:0.0%;}
#module1257  .rich_img_wrap{width:50%;}
}
#module1325   >.module_wrap > .module_banner {display:none;}
#module1325 {margin-top:9.979101358411704vw;}
#module1325 {margin-right:21.710253217102537%;}
#module1325 {margin-bottom:0.0vw;}
#module1325 {margin-left:15.203761755485893%;}
#module1325  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1325  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1325   >.module_wrap > .module_banner {display:none;}
#module1325 {margin-top:6.9333333333333345vw;}
#module1325 {margin-right:0.0%;}
#module1325 {margin-bottom:0.0vw;}
#module1325 {margin-left:0.0%;}
#module1325  .rich_img_wrap{width:50%;}
}
#module1319   >.module_wrap > .module_banner {display:none;}
#module1319 {margin-top:0.0vw;}
#module1319 {margin-right:0.0%;}
#module1319 {margin-bottom:0.0vw;}
#module1319 {margin-left:0.0%;}
#module1319  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1319  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1319   >.module_wrap > .module_banner {display:none;}
#module1319 {margin-top:0.0vw;}
#module1319 {margin-right:0.0%;}
#module1319 {margin-bottom:0.0vw;}
#module1319 {margin-left:0.0%;}
#module1319  .rich_img_wrap{width:50%;}
}
#module1320   >.module_wrap > .module_banner {display:none;}
#module1320 {margin-top:0.0vw;}
#module1320 {margin-right:0.0%;}
#module1320 {margin-bottom:0.0vw;}
#module1320 {margin-left:0.0%;}
#module1320  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1320  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1320   >.module_wrap > .module_banner {display:none;}
#module1320 {margin-top:0.0vw;}
#module1320 {margin-right:0.0%;}
#module1320 {margin-bottom:0.0vw;}
#module1320 {margin-left:0.0%;}
#module1320  .rich_img_wrap{width:50%;}
}
#module1321   >.module_wrap > .module_banner {display:none;}
#module1321 {margin-top:6.197916666666667vw;}
#module1321 {margin-right:6.973684210526315%;}
#module1321 {margin-bottom:0.0vw;}
#module1321 {margin-left:3.1578947368421053%;}
#module1321  .rich_img_wrap{width:50%;}
@media screen and (min-width: 769px){
#module1321  .rich_img_wrap{width:50%;}
}
@media screen and (max-width: 768px){
#module1321   >.module_wrap > .module_banner {display:none;}
#module1321 {margin-top:0.0vw;}
#module1321 {margin-right:0.0%;}
#module1321 {margin-bottom:0.0vw;}
#module1321 {margin-left:0.0%;}
#module1321  .rich_img_wrap{width:50%;}
}
#module1322   >.module_wrap > .module_banner {display:none;}
#module1322 {margin-top:0.6770833333333334vw;}
#module1322 {margin-right:74.0693560616581%;}
#module1322 {margin-bottom:0.0vw;}
#module1322 {margin-left:5.482095125676987%;}
#module1322  .module_button_content{border-radius:0px;}
#module1322  .module_button_content:hover{}
#module1322  .module_button_content .after{}
#module1322  .module_content{height:40px;}
#module1322  .module_button_content .module_button_text {max-width: calc(100% - 18px);}
#module1322  .module_button_content .module_button_icon { font-size:12px;}
@media screen and (min-width: 769px){
}
@media screen and (max-width: 768px){
#module1322   >.module_wrap > .module_banner {display:none;}
#module1322 {margin-top:2.666666666666667vw;}
#module1322 {margin-right:34.533333333333324%;}
#module1322 {margin-bottom:1.3333333333333335vw;}
#module1322 {margin-left:33.46666666666667%;}
#module1322  .module_content{height:32px;}
#module1322 .module_button_content .module_button_text { font-family:微软雅黑;font-size:12px;color:rgb(255, 255, 255);}
#module1322  .module_button_content:hover .module_button_text{ color:;}
}
.jz_nav_wrap{margin-top:0.992685475444096vw;}
.jz_nav_wrap{margin-right:0.0%;}
.jz_nav_wrap{margin-bottom:0.0vw;}
.jz_nav_wrap{margin-left:0.0%;}
.jz_web_header .jz_nav{}
.jz_web_header .jz_nav_list{text-align:center;}
.jz_web_header .jz_nav_item{}
#gridHeader.jz_web_header  .jz_nav_item.jz_nav_item_selected, #gridHeader.jz_web_header  .jz_nav_item:hover{background:none;}
.jz_web_header .jz_nav_item .nav_item_text .nav_main_name {font-size:16px;font-family:微软雅黑;}
.jz_web_header .nav_item_septal{font-size:16px;}
.jz_web_header .jz_nav_layout0 .sub_nav_list,.jz_web_header .jz_nav_layout0 .three_nav_list {}
.jz_web_header .jz_nav_layout0 .sub_nav_item ,.jz_web_header .jz_nav_layout0 .three_nav_item {}
}
.jz_web_header  .sub_nav_list,.jz_web_header  .three_nav_list {}
.jz_web_header  .sub_nav_list, .jz_web_header  .three_nav_list{background-image:none;background-color:#fff;background-repeat:repeat;background-position:top left;}
.jz_web_header  .sub_nav_list_active.sub_nav_item, .jz_web_header  .sub_nav_item:hover {background-image:none;background-color:rgba(225, 0, 17, 1);background-repeat:repeat;background-position:top left;}
.jz_web_header  .jz_nav_item_selected.sub_nav_item, .jz_web_header  .sub_nav_item:hover {background-image:none;background-color:rgba(225, 0, 17, 1);background-repeat:repeat;background-position:top left;}
.jz_web_header  .three_nav_item.jz_nav_item_selected{background-image:none;background-color:rgba(225, 0, 17, 1);background-repeat:repeat;background-position:top left;}
.jz_web_header  .three_nav_item:hover {background-image:none;background-color:rgba(225, 0, 17, 1);background-repeat:repeat;background-position:top left;}
.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class  .jz_nav_item_selected.sub_nav_item, .jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class  .sub_nav_item:hover {background-image:none;background-color:rgba(225, 0, 17, 1);background-repeat:repeat;background-position:top left;}
.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class  .three_nav_item:hover {background-image:none;background-color:rgba(225, 0, 17, 1);background-repeat:repeat;background-position:top left;}
.jz_web_header  .sub_nav_item ,.jz_web_header  .three_nav_item {font-size:14px;font-family:微软雅黑;}
.jz_mobi_header .jz_nav_item{}
.jz_mobi_header .sub_nav_item{}
.jz_mobi_header .sub_nav_item_text{}
.jz_mobi_header .three_nav_item{}
.jz_mobi_header .three_nav_item_text{}
.jz_web_header .jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) .nav_item_text_wrap .nav_main_name, .jz_web_header .jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) .nav_item_text_wrap .nav_item_text .nav_main_name{color:rgba(0, 0, 0, 1);}
.jz_web_header .jz_nav .jz_nav_item_selected .nav_item_text_wrap, .jz_web_header  .jz_nav .jz_nav_item:hover .nav_item_text_wrap .nav_main_name{color:rgba(225, 0, 17, 1);}
.jz_web_header .jz_nav_partition_line{ display: none; }.jz_web_header  .sub_nav_item_text_wrap,.jz_web_header  .three_nav_item_text_wrap,.jz_web_header  .sub_nav_item_text{color:#212121;}
.jz_web_header  .jz_nav .sub_nav_list .jz_nav_item_selected .sub_nav_item_text_wrap, .jz_web_header  .jz_nav .sub_nav_item:hover .sub_nav_item_text_wrap, .jz_web_header  .jz_nav .sub_nav_item:hover .sub_nav_item_text_wrap .sub_nav_item_text, .jz_web_header  .jz_nav .three_nav_list .jz_nav_item_selected .three_nav_item_text_wrap, .jz_web_header  .jz_nav .three_nav_item:hover .three_nav_item_text_wrap{color:rgba(255, 255, 255, 1);}
.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class .jz_nav_item{}
.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class .jz_nav_item .nav_item_text_wrap > a {font-size:16px;font-family:微软雅黑;}
.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class .nav_item_septal{font-size:16px;}
.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class  .sub_nav_item ,.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class  .three_nav_item {text-decoration: none;font-weight: normal;font-style: normal;}
.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class .jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) .nav_item_text_wrap .nav_item_text{color:rgba(0, 0, 0, 1);}
.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class .jz_nav .jz_nav_item_selected .nav_item_text_wrap, .jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class  .jz_nav .jz_nav_item:hover .nav_item_text_wrap{color:rgba(225, 0, 17, 1);}
.jz_web_header .g_header_content_temp__fixed .jz_nav_wrap.fix_top_class .jz_nav_partition_line{ display: none; }.s_member_login{margin-top:2.3923444976076556vw;}
.s_member_login{margin-right:38.197767145135565%;}
.s_member_login{margin-bottom:0.0vw;}
.s_member_login{margin-left:38.197767145135565%;}
.jz_screen_pc .s_multi_language_wrap{margin-top:1.2653698057571465vw;}
.jz_screen_pc .s_multi_language_wrap{margin-right:4.419097839170052%;}
.jz_screen_pc .s_multi_language_wrap{margin-bottom:0.0vw;}
.jz_screen_pc .s_multi_language_wrap{margin-left:34.07462601020232%;}
@media screen and (min-width: 769px){
.jz_website_title_wrap{margin-top:0.05224660397074193vw;}
.jz_website_title_wrap{margin-right:0.0%;}
.jz_website_title_wrap{margin-bottom:0.0vw;}
.jz_website_title_wrap{margin-left:29.26143421898072%;}
#jz_website_title { height:80px;}
#jz_website_title .logo_wrap{ width:168.0px;}
}
@media screen and (max-width: 768px){
#jz_website_title .logo_wrap{ width:63.0px;}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
.jz_screen_pc #jz_website_title{ margin-bottom: 3px }
}
@media screen and (min-width: 769px){
.jz_banner .banner_pic { width:100.0%;}
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:37.51339764201501%;}
}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(//31415096.s21i.faiusr.com/2/ABUIABACGAAgvL_qswYo8MSlgwIwgA84vAU.jpg);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_1 .banner_pic_item{background-image: url(//31415096.s21i.faiusr.com/2/ABUIABACGAAgvL_qswYoypuV8wYwgA84vAU.jpg);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_2 .banner_pic_item{background-image: url(//31415096.s21i.faiusr.com/2/ABUIABACGAAgtsqgswYo49equQMwgA84vAU.jpg);background-size:cover;background-position: 50% 50%;}
@media screen and (max-width: 768px){
.jz_banner .banner_pic  .banner_pic_group{ padding-bottom:54.13333333333333%;}
.jz_banner .banner_pic .banner_pic_0 .banner_pic_item{background-image: url(//31415096.s21i.faiusr.com/2/ABUIABACGAAgvL_qswYo8MSlgwIwgA84vAU.jpg);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_1 .banner_pic_item{background-image: url(//31415096.s21i.faiusr.com/2/ABUIABACGAAgvL_qswYoypuV8wYwgA84vAU.jpg);background-size:cover;background-position: 50% 50%;}
.jz_banner .banner_pic .banner_pic_2 .banner_pic_item{background-image: url(//31415096.s21i.faiusr.com/2/ABUIABACGAAgtsqgswYo49equQMwgA84vAU.jpg);background-size:cover;background-position: 50% 50%;}
}
.g_header{background-image:none;background-color:rgba(255, 255, 255, 0);background-repeat:repeat;background-position:top left;}
.g_header__static .g_header_content{background-image:none;background-color:rgba(255, 255, 255, 0);background-repeat:repeat;background-position:top left;}
.g_header__fixed .g_header_content{background-image:url(//31415096.s21i.faiusr.com/2/ABUIABACGAAgrKDMpwYo3qKKmwEwgA84WA.jpg);background-color:rgba(255, 255, 255, 0);background-repeat:no-repeat;background-position:center center;}
.g_footer{background-image:none;background-color:rgba(43, 43, 43, 1);background-repeat:repeat;background-position:top left;}